extends _layouts/normal

block append content
  #layout-content.clearfix
    .container
      #top-pcl
        .ref-bg.domain-
        .ref-bg.domain-10
        .ref-bg.domain-20
        .ref-bg.domain-30
        .ref-bg.domain-40
        .ref-bg.domain-50
        .ref-bg.domain-60
        .ref-bg.domain-70
        .ref-bg.domain-80
        .ref-bg.domain-90
      .page-container
        .row
          //- main content
          .col-sm-12.col-md-10
            .row
              .col-sm-6
                if (mainStory)
                  .list.ot-story.view-main
                    .item.ot-story
                      .row
                        .col-xs-6.col-sm-12
                          a.item-image.fine-image(href=newsUrl(links.story(mainStory.uniqueName, mainStory.id, {ul: currentCulture.lang})))
                            img.story-img(alt='', src=links.wi('large', mainStory.imageId))
                        .item-body.col-xs-6.col-sm-12
                          h3
                            a(href=newsUrl(links.story(mainStory.uniqueName, mainStory.id, {ul: currentCulture.lang})))= mainStory.title
                          p= util.wrapAt(mainStory.summary, 250)
                          .details= util.moment(mainStory.createdAt).locale(currentCulture.lang).from(currentDate, true)
                            | , 
                            span.stats-badge(title=__('views'))= mainStory.countViews
                              |  
                              span.icon.icon-views
              .col-sm-6
                +storiesRowView(stories)
            br
            +quotesRowView(quotes)
          //- right content
          .col-sm-12.col-md-2
            .tab.clearfix
              .tab-title
                span.pull-right= __('24_hrs')
                h4= __('trending')
              .tab-content
                .list.ot-topic.view-trending
                  each item in trendingTopics
                    .item.media
                      a.pull-left(href=newsUrl(links.topic(item.uniqueName, {ul: currentCulture.lang})))
                        img.media-object.lazy(alt='', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-original=entipicImage(item, currentCulture))
                      .media-body
                        a(title=item.name, href=newsUrl(links.topic(item.uniqueName, {ul: currentCulture.lang})))= (item.abbr || item.name)
                        .details= '+'+item.counts.trend24h

