extends _layouts/normal

block normal_content
  //- fresh news
  if (latestStories)
    +storiesLargeView(latestStories.slice(0, 3), {itemClass: 'col-sm-4 col-xs-12', lazyImage: true})
    +storiesSimpleView(latestStories.slice(3, 6), {listClass: 'row', itemClass: 'col-xs-12 col-sm-4'})
    if (latestStories.length>6)
      +storiesSimpleView(latestStories.slice(6, 9), {listClass: 'row', itemClass: 'col-xs-12 col-sm-4'})
  //- pupular news
  .section-header
    h3.type-popular
      a(href=newsUrl(links.news.popular({ul: currentCulture.lang})))= __('popular_news')
      //- a(href=links.popular({ul: currentCulture.lang}))= __('popular_news')
  if (popularStories)
    +storiesLargeView(popularStories, {itemClass: 'col-sm-4 col-xs-12', lazyImage: true})

  if (config.projects.horoscope)
    #appear-horoscope.section-header
      h3.type-important
        a(href='//'+links.horoscope.host+(links.horoscope.home(util.utm.horoscope)))= __('horoscope')
    include ./controls/zodiac-list

  .section-header
    h3.type-quotes
      a(href=newsUrl(links.news.quotes({ul: currentCulture.lang})))= __('latest_quotes')
  if (latestQuotes)
    +quotesList(latestQuotes.slice(0, 3), {listClass: 'row', itemClass: 'col-xs-12 col-sm-4', wrapAt: 120})
    +quotesList(latestQuotes.slice(3, 6), {listClass: 'row', itemClass: 'col-xs-12 col-sm-4', wrapAt: 120})

  //- important news
  if (importantStories)
    .section-header
      h3.type-important
        a(href=newsUrl(links.news.important({ul: currentCulture.lang})))= __('important_news')
        //- a(href=links.popular({ul: currentCulture.lang}))= __('popular_news')
    +storiesLargeView(importantStories, {itemClass: 'col-sm-4 col-xs-12', lazyImage: true})
