extends ./root
include ../mixins/lists

block page_header_content
  .row
    .col-xs-3.col-sm-2
      #header-logo
        a#logo(title=__(project.name), href=links.home({ul: currentCulture.language}))
        if (config.projects.length > 1)
          ul#header-projects
            each host, key in config.projects
              li
                a(target='_blank', href='http://'+host)= __(key)
    .col-xs-9.col-sm-7
      ul#header-menu
        li.dd-item
          a.type-news(href=newsUrl(links.news.home({ul: currentCulture.lang})))= __('news')
        li.dd-item
          a.type-weather(href=weatherUrl(links.weather.home({ul: currentCulture.lang})))= __('weather')

    .col-sm-3.hidden-xs
      #header-widgets
        if (weatherWidget && weatherWidget.forecast)
          #widget-weather
            //- .shadow
            span.symbol.w-icon(class='wi-'+weatherWidget.forecast.symbol.id, title=weatherWidget.forecast.symbol.name)
            span.name
              - var weatherLink = util.url.parse(weatherWidget.place.url, true);
              - weatherLink.query.utm_source='news';
              - weatherLink.query.utm_medium='link';
              - weatherLink.query.utm_campaign='header-weather';

              a(href=util.url.format(weatherLink))= weatherWidget.place.name
              span.no= weatherWidget.forecast.temperature + '°C'

block page_main_content
  section#page-content
    block content
