extends ./root
include ../mixins/lists

block page_header_content
  .row
    .col-xs-4.col-sm-2
      #header-logo
        a#logo(title=config.name, href=links.portal.home({ul: currentCulture.language}))
        if (config.projects.length > 1)
          ul#header-projects
            each host, key in config.projects
              li
                a(target='_blank', href='http://'+host)= __(key)
    .col-xs-8.col-sm-3
      ul#header-menu
        li.dd-item
          a(href='//'+links.news.$host+links.news.home({ul: currentCulture.lang}))= __('news')
        li.dd-item
          a(href='//'+links.weather.$host+links.weather.home({ul: currentCulture.lang}))= __('weather')
        if (config.projects.horoscope)
          li.dd-item
            a(href='//'+links.horoscope.$host+links.horoscope.home({ul: currentCulture.lang}))= __('horoscope')

    .col-sm-7.hidden-xs
      #header-widgets
        .col-md-6.hidden-sm
          if (mainExchangeRates && mainExchangeSource)
            #widget-exchange
              each item, i in mainExchangeRates
                if (i<2)
                  - var value = item.rate
                  - var diff = value - item.rate1d
                  - var diffCss = diff>0 ? "view-plus": "view-minus"
                  - diffCss = diff==0 || diff==NaN?'view-no-change': diffCss
                  div(class="item "+diffCss)
                    .symbol= item.currency.symbol
                    span(class="value")= util.numberFormat(value, 2, currentCulture.language)
                    .popover
                      small(class="details")= currentDate.format(config.monthFormat)
                      .item-source(title=mainExchangeSource.name)= mainExchangeSource.abbr
                      .item-value= util.numberFormat(value, 4, currentCulture.language)
                      if(diff)
                        small(class="item-diff")= util.numberFormat(diff, 4, currentCulture.language)
                      .item-details
                        a(href='//'+links.exchange.host)= __('exchange_rates')
                          |  ›
        .col-md-6.col-sm-12
          if (capitalCity && capitalCity.currentForecast)
            #widget-weather
              //- .shadow
              span.symbol.w-icon(class='wi-'+capitalCity.currentForecast.symbol.number, title=util.weather.symbolName(capitalCity.currentForecast.symbol, currentCulture.language))
              span.name
                a(href='//'+links.weather.$host+links.weather.place(capitalCity.id, {utm_source:'portal',utm_medium:'link',utm_campaign:'header-weather'}))= util.Place.getName(capitalCity, currentCulture.language)
                span.no= capitalCity.currentForecast.t.value + '°C'

block page_main_content
  section#page-content
    block content
