mixin storyItem(item, options)
  .item.ot-story(class=('domain-' + (item.category || '0') + (item.importantKey ? ' is-important' : null)))
    if (item.imageId && options.image!==false)
      - var imageSrc = Links.cdn.wi.stories(options.imageSize || 'medium', item.imageId)
      - var url=links.news.story(item.slug, item.id, {ul: currentCulture.lang})
      - url = newsUrl(url)
      a.item-image(href=url, class=options.imageClass)
        if (options.lazyImage)
          img.lazy(alt='', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', data-original=imageSrc)
        else
          img(src=imageSrc)
        if (options.video)
          span.video-icon
            i
    .item-body
      h3
        a(href=url)= util.wrapAt(item.title, options.titleLength || 150)
      .details= util.moment(item.createdAt).locale(currentCulture.lang).from(currentDate.toDate().getTime(), true)
        | , 
        span.stats-badge(title=__('views'))= item.countViews
          |  
          i.icon.icon-views
        if (item.videos && item.videos.length>0)
          | , 
          span.stats-badge(title=__('video'))= item.videos.length
            |  
            i.icon.icon-video
      if (item.summary && options.summary)
        p= util.wrapAt(item.summary, options.summaryLength || 300)

mixin storiesRowView(list, options)
  - options = options || {};
  .list.ot-story.view-row.row
    each item in list
      - var hasVideo = item.videos && item.videos.length > 0
      .list-item.ot-story(class=(options.itemClass || 'col-xs-6'))
        +storyItem(item, {video: !!item.videos, imageClass: 'fine-image', titleLength: options.titleLength || 100})

mixin storiesLargeView(list, options)
  - options = options || {};
  .list.ot-story.view-large.row
    each item in list
      - var hasVideo = item.videos && item.videos.length > 0
      .list-item.ot-story(class=(options.itemClass || 'col-sm-6 col-xs-12'))
        +storyItem(item, {video: hasVideo, imageClass: 'fine-image', imageSize: 'large', summary: options.summary!==false, summaryLength: options.summaryLength, lazyImage: options.lazyImage})

mixin storiesSimpleView(list, options)
  - options = options || {};
  .list.ot-story.view-simple(class=options.listClass)
    each item in list
      .list-item.ot-story(class=options.itemClass)
        +storyItem(item, {video: false, imageSize: 'square', summary: options.summary, summaryLength: options.summaryLength || 200, lazyImage: true, image: options.image!==false})


mixin newsSimpleView(list, options)
  - options = options || {};
  .list.ot-news.view-simple
    each item in list
      - var url= links.news.item(item.slug, item.id, {ul: currentCulture.lang})
      - url = newsUrl(url)
      - var imageUrl = Links.cdn.wi.news('square', item.imageId);
      .list-item.ot-news
        .item.ot-news(class=(item.imageId? 'media': null))
          if (item.imageId)
            .media-left
              img.lazy(alt='', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', data-original=imageUrl)
          .item-body(class=(item.imageId? 'media-body': null))
            a.item-name(href=url)= util.wrapAt(item.title, 100)
            if (options.summary)
              p= util.wrapAt(item.summary, options.summaryLength || 200)
            .details
              = util.moment(item.createdAt).locale(currentCulture.lang).from(currentDate, true)

mixin quotesList(list, options)
  - options = options || {}
  .list.ot-quote(class=(options.listClass || null))
    each item in list
      if (item.author)
        .list-item.ot-quote(class=(options.itemClass || null))
          +quoteItem(item, options)

mixin quoteItem(item, options)
  .item.ot-quote(class='domain-'+(item.category || '0'))
    .item-body
      a.item-name(href=newsUrl(links.news.quote(item.id, {ul: currentCulture.lang})))
        h4
          span.quote-mark “
          = util.wrapAt(item.text, options.wrapAt || 200)
      i
    .item-author.media
      a.media-left(href=newsUrl(links.news.topic(item.author.slug, {ul: currentCulture.lang})))
        img.media-object.lazy(alt='', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', data-original=util.entipicImage(item.author, currentCulture))
      .media-body
        a.author-name(href=newsUrl(links.news.topic(item.author.slug, {ul: currentCulture.lang})))= item.author.name
        span.details , 
          = util.moment(item.createdAt).locale(currentCulture.lang).from(currentDate, true)
        if (!options.noPage)
          if (currentDate.toDate().getTime() - new Date(item.createdAt).getTime() < 1000 * 60 * 60 * 24 * 10)
            .details
              a(href=newsUrl(links.news.item(item.webpage.slug, item.webpage.id)))= util.wrapAt(item.webpage.title, 90)
          else
            .details= util.wrapAt(item.webpage.title, 90)

mixin topicListTags(topics)
  .list.ot-topic.view-tags
    each item in topics
      a(title=item.name, href=newsUrl(links.news.topic(item.slug || item.slug, {ul: currentCulture.lang})))
        if (item.abbr)
          = item.abbr
        else if(item.name.length>30)
          = item.name.substr(0, 25)+'...'
        else
          = item.name
