.group
  .group-title
    h4= __('trending')
  .group-content
    .list.ot-topic.view-trending
      each item in trendingTopics
        .item.media
          a.media-left(href=newsUrl(links.news.topic(item.uniqueName, {ul: currentCulture.lang})))
            img.media-object(alt='' src=util.entipicImage(item, currentCulture))
          .media-body
            a(title=item.name, href=newsUrl(links.news.topic(item.uniqueName, {ul: currentCulture.lang})))= (item.abbr || item.name)
            .details= '+'+item.counts.trend24h
